.sidebar {
  display: none;
}
@media (min-width: 992px) {
  .sidebar {
    display: block;
  }
  .sidebar-container {
    background: white;
    min-height: 100vh;
    height: 100%;
    width: 250px;
  }
  .content {
    position: sticky;
    top: 0;
  }
  .show-sidebar {
    margin-left: 0;
  }
  header {
    height: 6rem;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
  }
  .nav-links {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    display: flex;
    align-items: center;
    color: #627d98;
    padding: 1rem 0;
    padding-left: 2.5rem;
    text-transform: capitalize;
  }
  .nav-link:hover {
    background: #f0f4f8;
    padding-left: 3rem;
    color: #102a43;
  }
  .nav-link:hover .icon {
    color: #45b6c9;
  }
  .icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    display: grid;
    place-items: center;
  }
}
